<div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div>
      <mat-form-field>
        <mat-label>email:</mat-label>
        <input matInput id="email" type="email" formControlName="email">
        @if (loginForm.hasError('email', ['email']) && !loginForm.hasError('required', ['email'])) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (loginForm.hasError('required', ['email'])) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>
    </div>

    <div>
      <button mat-button type="submit" [disabled]="!loginForm.valid">Submit</button>
    </div>
  </form>

</div>
<div>
  Form status: {{ loginForm.status }}
</div>

<div>
  <button mat-button (click)="refresh()">Refresh token</button>
</div>

<div>
  <button mat-button (click)="testApi()">Test api</button>
</div>
